* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

header nav {
  width: 285px;
  height: 100vh;
  border-right: 1px solid #CBCBCB;
  position: fixed;
  background-color: white;
  overflow: auto;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-left: -285px;
}

header nav nav::-webkit-scrollbar {
  background-color: red;
  color: red;
}

header nav .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 285px;
  padding: 10px 0px 10px 0px;
  background-color: white;
  border-bottom: 1px solid #CBCBCB;
  -webkit-box-shadow: 0px 2px 4px 0px #eeeeee;
  box-shadow: 0px 2px 4px 0px #eeeeee;
  border-right: 1px solid #CBCBCB;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .date #time {
  font-size: 30px;
  text-align: center;
  color: #1C8AF5;
  cursor: default;
}

header nav .date #day {
  color: #1C8AF5;
  font-size: 17px;
  text-align: center;
  cursor: default;
}

header nav .date .close-menu {
  display: none;
  position: absolute;
  right: 0;
  font-size: 35px;
  color: #1C8AF5;
  padding-right: 20px;
  cursor: pointer;
}

@media (max-width: 725px) {
  header nav .date .close-menu {
    display: block;
  }
}

header nav .search-note {
  text-align: center;
  margin: 80px 20px 0px 20px;
}

header nav .search-note .search-input {
  width: 80%;
  text-align: center;
  border: 1px solid #D5D5D5;
  color: #4e4e4e;
  font-size: 17px;
  resize: none;
  padding: 5px;
  margin: 5px 0px 5px 0px;
  border-radius: 20px;
}

header nav .search-note .sophisticated-items-container {
  cursor: pointer;
}

header nav .search-note .sophisticated-items-container .empty-search {
  color: #808080;
  margin-bottom: 5px;
}

header nav .search-note .sophisticated-items-container .search-category {
  color: #1C8AF5;
}

header nav .search-note .sophisticated-items-container:hover {
  background-color: #fcfcfc;
}

header nav .to-do-list-category {
  margin: 0px 20px 0px 20px;
  padding-bottom: 100px;
}

header nav .to-do-list-category .notes-container-height {
  margin-bottom: 20px;
}

header nav .to-do-list-category .to-do-main-title {
  padding: 10px 0px 10px 0px;
  width: 100%;
}

header nav .to-do-list-category .main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header nav .to-do-list-category .main-title h2 {
  padding-left: 10px;
  font-size: 22px;
}

header nav .to-do-list-category .main-title span {
  padding-left: 10px;
}

header nav .to-do-list-category .main-title .cyclicDelete {
  padding-left: none;
  color: #D23030;
}

header nav .to-do-list-category .main-title .cyclicDelete {
  background-color: #f1f1f1;
  padding-left: 0;
  padding: 9px;
  border-radius: 5px;
}

@media (max-width: 725px) {
  header nav .to-do-list-category .notes-container-height {
    margin-bottom: 10px;
  }
  header nav .to-do-list-category .main-title h2 {
    font-size: 19px;
  }
  header nav .to-do-list-category .main-list h4 {
    font-size: 14px;
  }
  header nav .to-do-list-category .cyclicDelete {
    font-size: 16px;
    padding: 4px;
  }
}

header nav .to-do-list-category .main-title:hover {
  background-color: #fbfbfb;
}

header nav .to-do-list-category .main-list {
  padding: 0px 0px 0px 30px;
}

header nav .to-do-list-category .main-list h3 {
  color: #696969;
  font-weight: 300;
  padding: 1px 5px 1px 15px;
  cursor: pointer;
  font-size: 17px;
}

header nav .to-do-list-category .main-list h4 {
  color: #d1d1d1;
  cursor: default;
  margin-left: 20px;
}

header nav .to-do-list-category .main-list .deletingCategory {
  padding: 10px;
  font-size: 13px;
  color: #e6e6e6;
  background-color: #2929299e;
  background-color: rgba(22, 22, 22, 0.753);
  border-radius: 5px;
}

header nav .to-do-list-category .main-list .deletingCategory .delete-container {
  text-align: center;
}

header nav .to-do-list-category .main-list .deletingCategory .delete-container .delete-confirm-button {
  border: none;
  font-size: 15px;
  border-radius: 6px;
  background-color: #1C8AF5;
  color: white;
  cursor: pointer;
  padding: 2px 8px 2px 8px;
  margin: 2px 3px 2px 3px;
}

header nav .to-do-list-category .main-list .deletingCategory .delete-container .delete-cancel-button {
  border: none;
  font-size: 15px;
  border-radius: 6px;
  background-color: #1C8AF5;
  color: white;
  cursor: pointer;
  padding: 2px 8px 2px 8px;
  margin: 2px 3px 2px 3px;
}

header nav .to-do-list-category .all .all-container h2 {
  padding: 10px 0px 10px 0px;
  margin-bottom: 10px;
  text-align: center;
  color: #1C8AF5;
  cursor: pointer;
}

header nav .to-do-list-category .all h2:hover {
  background-color: #fbfbfb;
}

header nav .to-do-list-category .all h3 {
  color: #d6d6d6;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  cursor: default;
}

header nav .to-do .to-do-container span {
  color: #1C8AF5;
  padding-left: 10px;
}

header nav .to-do .to-do-container h2 {
  color: #1C8AF5;
}

header nav .to-do .to-do-container h3:hover {
  border-left: 5px solid #1C8AF5;
}

header .done .done-container span {
  color: #0A9C00;
  padding-left: 10px;
}

header .done .done-container h2 {
  color: #0A9C00;
}

header .done .done-container h3:hover {
  border-left: 5px solid #0A9C00;
}

header .important .important-container span {
  color: #D23030;
  padding-left: 10px;
}

header .important .important-container h2 {
  color: #D23030;
}

header .important .important-container h3:hover {
  border-left: 5px solid #D23030;
}

header .notes .notes-container span {
  color: #1C8AF5;
  padding-left: 10px;
}

header .notes .notes-container h2 {
  color: #1C8AF5;
}

header .notes .notes-container h3:hover {
  border-left: 5px solid #1C8AF5;
}

header .deleted .deleted-container .deleted-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

header .deleted .deleted-container .deleted-text .deleted-title {
  padding: 10px 0px 10px 10px;
  width: 100%;
  font-size: 22px;
}

header .deleted .deleted-container .deleted-text:hover {
  background-color: #fbfbfb;
}

header .deleted .deleted-container .deleted-list {
  padding: 0px 0px 0px 30px;
}

header .deleted .deleted-container .deleted-list .deleted-list-h4 {
  color: #d1d1d1;
  cursor: default;
  margin-left: 20px;
  font-weight: 600;
}

header .deleted .deleted-container .deleted-list .deleted-list-h3-see {
  color: #696969;
  font-weight: 300;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  width: 162px;
  font-size: 17px;
}

@media (max-width: 725px) {
  header .deleted .deleted-container .deleted-text .deleted-title {
    font-size: 19px;
  }
  header .deleted .deleted-container .deleted-list .deleted-list-h4 {
    font-size: 14px;
  }
  header .deleted .deleted-container .deleted-list .deleted-list-h3-see {
    font-size: 15px;
  }
}

header .deleted .deleted-container span {
  color: #D23030;
  padding-left: 10px;
}

header .deleted .deleted-container h2 {
  color: #D23030;
}

header .deleted .deleted-container h3:hover {
  border-left: 5px solid #D23030;
}

header .cyclic .cyclic-list h3:hover {
  border-left: 5px solid #7c7c7c;
}

header .creating-category {
  display: none;
}

header .creating-category-active {
  width: 215px;
  position: fixed;
  bottom: 80px;
  margin: 0px 30px 0px 30px;
  -webkit-box-shadow: 0px 0px 5px 1px #d1d1d1;
  box-shadow: 0px 0px 5px 1px #d1d1d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

header .creating-category-active .category-text-h4 {
  padding: 5px 0px 5px 0px;
  font-weight: 300;
}

header .creating-category-active .category-title {
  width: 80%;
  height: 23px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  font-weight: 900;
  font-size: 17px;
  border: 1px solid #D5D5D5;
}

header .creating-category-active .category-circle-container {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .creating-category-active .category-circle-container .category-circle {
  height: 20px;
  width: 20px;
  margin: 2px;
  border-radius: 50%;
  cursor: pointer;
}

header .creating-category-active .error-category {
  color: #D23030;
  font-weight: 900;
  font-size: 14px;
  text-align: center;
  margin: 4px 0px 4px 0px;
}

header .creating-category-active .category-buttons-container .category-exit {
  background-color: #1C8AF5;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

header .creating-category-active .category-buttons-container .category-add {
  background-color: #1C8AF5;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

header .add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 0px 0px 20px 20px;
  position: fixed;
  bottom: 0;
  min-height: 69px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

header .add-button .add {
  height: 50px;
  width: 50px;
  background-color: #1C8AF5;
  border: none;
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 14px 1px #d1d1d1;
  box-shadow: 0px 6px 14px 1px #d1d1d1;
}

main {
  width: 100%;
}

main .top-header {
  border-bottom: 1px solid #CBCBCB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

main .top-header .menu-open-close span {
  font-size: 31px;
  padding-left: 15px;
  cursor: pointer;
  color: #1C8AF5;
}

main .top-header h1 {
  font-size: 26px;
  color: #1C8AF5;
  padding: 15px 0px 15px 15px;
}

main .top-new-talk .new-talk span {
  font-size: 25px;
}

main .top-new-talk .new-talk .new-talk-button {
  padding: 8px 8px 8px 8px;
  background-color: #1C8AF5;
  color: white;
  font-size: 18px;
  border: none;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 7px 1px #d1d1d1;
  box-shadow: 0px 6px 7px 1px #d1d1d1;
}

main .top-new-talk .add-new-talk-container {
  display: none;
}

main .top-new-talk .active {
  display: block;
  max-width: 280px;
  margin: 0px 10px 10px 10px;
  -webkit-box-shadow: 0px 0px 5px 1px #dedede;
  box-shadow: 0px 0px 5px 1px #dedede;
  border-radius: 6px;
}

main .top-new-talk .active .add-new-talk-main-container {
  margin: 10px 10px 0px 10px;
  padding-top: 5px;
}

main .top-new-talk .active .add-new-talk-main-container h3 {
  border-left: 4px solid #1c8af5;
  padding: 5px 0px 5px 5px;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-text-container {
  text-aligN: center;
  font-size: 18px;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-text-container .entry-title {
  width: 95%;
  border: 1px solid #D5D5D5;
  color: #4e4e4e;
  font-size: 17px;
  resize: none;
  padding: 5px;
  margin: 5px 0px 5px 0px;
  border-radius: 4px;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-text-container .entry-title::-webkit-input-placeholder {
  padding-left: 9px;
  font-size: 17px;
  color: #4e4e4e;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-text-container .entry-title:-ms-input-placeholder {
  padding-left: 9px;
  font-size: 17px;
  color: #4e4e4e;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-text-container .entry-title::-ms-input-placeholder {
  padding-left: 9px;
  font-size: 17px;
  color: #4e4e4e;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-text-container .entry-title::placeholder {
  padding-left: 9px;
  font-size: 17px;
  color: #4e4e4e;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-select {
  text-aligN: center;
  font-size: 18px;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-select select {
  width: 100%;
  height: 31px;
  border: none;
  border: 1px solid #D5D5D5;
  color: #4e4e4e;
  font-size: 16px;
  color: #1C8AF5;
  padding-left: 5px;
  margin: 0px 0px 5px 0px;
  border-radius: 4px;
  background-color: white;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-select select .to-do {
  color: #1C8AF5;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-select select .done {
  color: #0A9C00;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-select select .important {
  color: #D23030;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-select select .notes {
  color: #1C8AF5;
}

main .top-new-talk .active .add-new-talk-main-container .date {
  text-aligN: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .top-new-talk .active .add-new-talk-main-container .date .entry-date {
  width: 68%;
  height: 31px;
  border: none;
  border: 1px solid #D5D5D5;
  color: #4e4e4e;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
}

main .top-new-talk .active .add-new-talk-main-container .date input::-webkit-input-placeholder {
  font-size: 15px;
  color: #4e4e4e;
}

main .top-new-talk .active .add-new-talk-main-container .date input:-ms-input-placeholder {
  font-size: 15px;
  color: #4e4e4e;
}

main .top-new-talk .active .add-new-talk-main-container .date input::-ms-input-placeholder {
  font-size: 15px;
  color: #4e4e4e;
}

main .top-new-talk .active .add-new-talk-main-container .date input::placeholder {
  font-size: 15px;
  color: #4e4e4e;
}

main .top-new-talk .active .add-new-talk-main-container .date .entry-hour {
  width: 28%;
  height: 31px;
  border: none;
  border: 1px solid #D5D5D5;
  color: #4e4e4e;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
}

main .top-new-talk .active .add-new-talk-field {
  text-align: center;
  margin: 0px 10px 0px 10px;
}

main .top-new-talk .active .add-new-talk-field .text-area {
  min-height: 70px;
  border: 1px solid #D5D5D5;
  width: 95%;
  resize: none;
  padding: 5px;
  margin: 5px 0px 5px 0px;
  color: #4e4e4e;
  font-size: 17px;
  border-radius: 4px;
}

main .top-new-talk .active .add-new-talk-field .mess {
  color: #D23030;
  font-weight: 900;
}

main .top-new-talk .active .add-new-talk-field .text-area::-webkit-input-placeholder {
  padding-left: 9px;
  font-size: 17px;
  color: #4e4e4e;
}

main .top-new-talk .active .add-new-talk-field .text-area:-ms-input-placeholder {
  padding-left: 9px;
  font-size: 17px;
  color: #4e4e4e;
}

main .top-new-talk .active .add-new-talk-field .text-area::-ms-input-placeholder {
  padding-left: 9px;
  font-size: 17px;
  color: #4e4e4e;
}

main .top-new-talk .active .add-new-talk-field .text-area::placeholder {
  padding-left: 9px;
  font-size: 17px;
  color: #4e4e4e;
}

main .top-new-talk .active .add-new-button-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .top-new-talk .active .add-new-button-container .exit {
  padding: 4px 9px 4px 9px;
  border: none;
  font-size: 15px;
  border-radius: 6px;
  background-color: #1C8AF5;
  color: white;
  cursor: pointer;
  margin: 3px;
}

main .top-new-talk .active .add-new-button-container .add-new {
  padding: 4px 9px 4px 9px;
  border: none;
  font-size: 15px;
  border-radius: 6px;
  background-color: #1C8AF5;
  color: white;
  cursor: pointer;
  margin: 3px;
}

@media (max-width: 400px) {
  main .top-new-talk .active {
    max-width: 100%;
  }
}

.header-active-nav {
  margin-left: 285px;
}

@media (max-width: 725px) {
  .header-active-nav {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    margin: 0;
  }
  .nav-active {
    margin-left: 0;
  }
  .header nav {
    width: 275px;
  }
  .header nav .date {
    width: 275px;
  }
}

.main-content-all .main-content-entry .empty-entry-message {
  display: none;
}

.main-content-all .main-content-entry .empty-entry-message-active {
  cursor: default;
}

.main-content-all .main-content-entry .empty-entry-message-active p {
  font-size: 23px;
  color: #dadada;
  margin: 10px;
}

.main-content-all .main-content-entry .entry {
  margin: 0px 40px 10px 40px;
  border: 1px solid #D5D5D5;
  border-radius: 5px;
  background-color: white;
}

.main-content-all .main-content-entry .entry .top-panel {
  width: 100%;
  border-bottom: 1px solid #CBCBCB;
}

.main-content-all .main-content-entry .entry .top-panel .top-panel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0px 5px 0px;
}

.main-content-all .main-content-entry .entry .top-panel .top-panel-container h4 {
  color: #1C8AF5;
}

.main-content-all .main-content-entry .entry .top-panel .top-panel-container #select-restore {
  width: 150px;
  height: 25px;
  border: none;
  color: #4e4e4e;
  font-size: 16px;
  color: #1C8AF5;
  margin: 0px 10px 0px 10px;
  background-color: white;
  border: 1px solid #CBCBCB;
}

.main-content-all .main-content-entry .entry .top-panel .top-panel-container .button-confirm {
  padding: 4px 10px 4px 10px;
  background-color: #1C8AF5;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.main-content-all .main-content-entry .entry .entry-top {
  margin: 10px 10px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content-all .main-content-entry .entry .entry-top h2 {
  border-left: 4px solid #1C8AF5;
  padding-left: 10px;
  font-size: 17px;
}

.main-content-all .main-content-entry .entry .entry-top .entry-top-right {
  height: 40px;
  width: auto;
  margin: 2.5px 10px 2.5px 2.5px;
}

.main-content-all .main-content-entry .entry .entry-top .date {
  text-align: center;
}

.main-content-all .main-content-entry .entry .entry-top .category {
  font-size: 20px;
}

.main-content-all .main-content-entry .entry .entry-bottom {
  width: 100%;
  font-size: 15px;
}

.main-content-all .main-content-entry .entry .entry-bottom p {
  margin: 5px 10px 0px 10px;
  color: grey;
}

.main-content-all .main-content-entry .entry .entry-bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3px 0px 3px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-content-all .main-content-entry .entry .entry-bottom-container .entry-bottom-left {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: flex;
}

.main-content-all .main-content-entry .entry .entry-bottom-container .entry-bottom-left .entry-left-category {
  color: #1C8AF5;
  margin-left: 10px;
  font-size: 16px;
}

.main-content-all .main-content-entry .entry .entry-bottom-container .entry-bottom-left .entry-left-date {
  font-size: 14px;
  color: grey;
  font-weight: 300;
  margin-left: 10px;
}

.main-content-all .main-content-entry .entry .entry-bottom-container .entry-bottom-left .entry-left-hour {
  font-size: 14px;
  color: grey;
  font-weight: 300;
  margin-left: 3px;
}

.main-content-all .main-content-entry .entry .entry-bottom-container .entry-bottom-right .remove-entry {
  background-color: #f7f7f7;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  margin: 0px 5px 0px 5px;
  color: #D23030;
}

.main-content-all .main-content-entry .entry .entry-bottom-container .entry-bottom-right .remove-entry span {
  font-size: 16px;
  width: 16px;
  height: 16px;
}

.main-content-all .main-content-entry .entry .entry-bottom-container .entry-bottom-right .done-entry {
  background-color: #f7f7f7;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  margin: 0px 5px 0px 5px;
  color: #0A9C00;
}

.main-content-all .main-content-entry .entry .entry-bottom-container .entry-bottom-right .done-entry span {
  font-size: 16px;
  width: 16px;
  height: 16px;
}

.main-content-all .main-content-entry .entry .entry-bottom-container .entry-bottom-right .info-entry {
  background-color: #f7f7f7;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  margin: 0px 5px 0px 5px;
  color: #1C8AF5;
}

.main-content-all .main-content-entry .entry .entry-bottom-container .entry-bottom-right .info-entry span {
  font-size: 16px;
  width: 16px;
  height: 16px;
}

.main-content-all .main-content-entry .entry .entry-bottom-container .entry-bottom-right .info-entry .information {
  display: none;
}

.main-content-all .main-content-entry .entry .entry-bottom-container .entry-bottom-right .info-entry .information-active {
  width: 150px;
  height: auto;
  position: absolute;
  padding: 4px;
  text-align: center;
  font-size: 12px;
  border-radius: 3px;
  color: #dfdfdf;
  background-color: rgba(22, 22, 22, 0.753);
}

.main-content-all .main-content-entry .entry .entry-bottom-container .entry-bottom-right .edit-entry {
  background-color: #f7f7f7;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  margin: 0px 5px 0px 5px;
  color: #ff8d00;
}

.main-content-all .main-content-entry .entry .entry-bottom-container .entry-bottom-right .edit-entry span {
  font-size: 16px;
  width: 16px;
  height: 16px;
}

@media (max-width: 1350px) {
  .main-content-all .main-content-entry .entry {
    margin: 0px 20px 10px 20px;
  }
}

@media (max-width: 725px) {
  .main-content-all .main-content-entry .entry {
    margin: 0px 10px 10px 10px;
  }
}

.ui-widget-header {
  background: #1C8AF5;
}

#overflow::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#overflow::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e4e4e4;
}

.overflow-entry::-webkit-scrollbar {
  width: 12px;
}

.overflow-entry::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9b9b9b;
}

.edit-container {
  background-color: #f7f7f7;
  height: 100vh;
  width: 325px;
  border-left: 1px solid #CBCBCB;
}

.edit-container .edit-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.edit-container .edit-top h3 {
  color: #353535;
  font-size: 23px;
  padding: 20px 0px 20px 20px;
}

.edit-container .edit-top .edit-cancel {
  padding: 5px 15px 5px 15px;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #f7f7f7;
  border: none;
  font-size: 33px;
  color: #1C8AF5;
}

.edit-container .edit-content {
  margin-right: 10px;
  margin-left: 10px;
}

.edit-container .edit-content .edit-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edit-container .edit-content .edit-title-container .edit-title {
  width: 100%;
  border: 1px solid #D5D5D5;
  color: #4e4e4e;
  font-size: 17px;
  resize: none;
  padding: 5px;
  margin: 5px 0px 5px 0px;
  border-radius: 4px;
}

.edit-container .edit-content .edit-category-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edit-container .edit-content .edit-category-container .edit-select {
  width: 100%;
  height: 31px;
  border: none;
  border: 1px solid #D5D5D5;
  color: #4e4e4e;
  font-size: 16px;
  color: #1C8AF5;
  padding-left: 5px;
  margin: 0px 0px 5px 0px;
  border-radius: 4px;
  background-color: white;
}

.edit-container .edit-content .edit-date-hour .edit-date {
  width: 68%;
  height: 31px;
  border: none;
  border: 1px solid #D5D5D5;
  color: #4e4e4e;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
}

.edit-container .edit-content .edit-date-hour .edit-hour {
  width: 29%;
  height: 31px;
  border: none;
  border: 1px solid #D5D5D5;
  color: #4e4e4e;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
}

.edit-container .edit-content .edit-content-container .edit-contents {
  min-height: 70px;
  border: 1px solid #D5D5D5;
  width: 95%;
  resize: none;
  padding: 5px;
  margin: 5px 0px 5px 0px;
  color: #4e4e4e;
  font-size: 17px;
  border-radius: 4px;
}

.edit-container .edit-content .edit-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.edit-container .edit-content .edit-buttons-container .edit-cancel {
  padding: 4px 9px 4px 9px;
  border: none;
  font-size: 15px;
  border-radius: 6px;
  background-color: #1C8AF5;
  color: white;
  cursor: pointer;
  margin: 3px;
}

.edit-container .edit-content .edit-buttons-container .edit-save {
  padding: 4px 9px 4px 9px;
  border: none;
  font-size: 15px;
  border-radius: 6px;
  background-color: #1C8AF5;
  color: white;
  cursor: pointer;
  margin: 3px;
}

.menu-edit {
  display: none;
}

.edit-active {
  display: block;
}
/*# sourceMappingURL=style.css.map */