* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  min-width: 300px;
}

header nav {
  width: 300px;
  height: 100vh;
  border-right: 1px solid #CBCBCB;
  position: fixed;
  background-color: white;
}

header nav .date {
  margin-top: 15px;
}

header nav .date #time {
  font-size: 30px;
  text-align: center;
  color: #1C8AF5;
}

header nav .date #day {
  color: #1C8AF5;
  font-size: 20px;
  text-align: center;
}

header nav .to-do-list-category {
  height: 100%;
  margin: 20px;
}

header nav .to-do-list-category .to-do-main-title {
  padding: 10px 0px 10px 0px;
  width: 100%;
}

header nav .to-do-list-category .main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header nav .to-do-list-category .main-title:hover {
  background-color: #fbfbfb;
}

header nav .to-do-list-category .main-list {
  padding: 0px 0px 0px 30px;
}

header nav .to-do-list-category .main-list h3 {
  color: #7B7B7B;
  font-weight: 300;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
}

header nav .to-do-list-category .all .all-container h2 {
  padding: 10px 0px 10px 0px;
  margin-bottom: 10px;
  text-align: center;
  color: #1C8AF5;
  cursor: pointer;
}

header nav .to-do-list-category .all h2:hover {
  background-color: #fbfbfb;
}

header nav .to-do .to-do-container {
  height: 150px;
}

header nav .to-do .to-do-container span {
  color: #1C8AF5;
  padding-left: 10px;
}

header nav .to-do .to-do-container h2 {
  color: #1C8AF5;
  margin-left: 10px;
}

header nav .to-do .to-do-container h3:hover {
  border-left: 5px solid #1C8AF5;
}

header .done .done-container {
  height: 150px;
}

header .done .done-container span {
  color: #0A9C00;
  padding-left: 10px;
}

header .done .done-container h2 {
  color: #0A9C00;
  margin-left: 10px;
}

header .done .done-container h3:hover {
  border-left: 5px solid #0A9C00;
}

header .important .important-container {
  height: 150px;
}

header .important .important-container span {
  color: #D23030;
  padding-left: 10px;
}

header .important .important-container h2 {
  color: #D23030;
  margin-left: 10px;
}

header .important .important-container h3:hover {
  border-left: 5px solid #D23030;
}

header .notes .notes-container {
  height: 150px;
}

header .notes .notes-container span {
  color: #1C8AF5;
  padding-left: 10px;
}

header .notes .notes-container h2 {
  color: #1C8AF5;
  margin-left: 10px;
}

header .notes .notes-container h3:hover {
  border-left: 5px solid #1C8AF5;
}

header .deleted .deleted-container {
  height: 150px;
}

header .deleted .deleted-container span {
  color: #D23030;
  padding-left: 10px;
}

header .deleted .deleted-container h2 {
  color: #D23030;
  margin-left: 10px;
}

header .deleted .deleted-container h3:hover {
  border-left: 5px solid #D23030;
}

header .add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .add-button .add {
  height: 50px;
  width: 50px;
  background-color: #1C8AF5;
  border: none;
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 14px 1px #d1d1d1;
  box-shadow: 0px 6px 14px 1px #d1d1d1;
}

main {
  width: 100%;
  height: 4000px;
}

main .top-header {
  border-bottom: 1px solid #CBCBCB;
}

main .top-header h1 {
  font-size: 26px;
  color: #414141;
  padding: 15px 0px 15px 15px;
}

main .top-new-talk .new-talk .new-talk-button {
  height: 35px;
  width: 115px;
  background-color: #1C8AF5;
  color: white;
  font-size: 18px;
  border: none;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 7px 1px #d1d1d1;
  box-shadow: 0px 6px 7px 1px #d1d1d1;
}

main .top-new-talk .add-new-talk-container {
  display: none;
}

main .top-new-talk .active {
  display: block;
  width: 600px;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 5px 1px #d1d1d1;
  box-shadow: 0px 0px 5px 1px #d1d1d1;
}

main .top-new-talk .active .title {
  padding: 5px 0px 5px 0px;
  font-weight: 300;
}

main .top-new-talk .active .add-new-talk-main-container {
  margin: 10px 10px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-text-container {
  text-aligN: center;
  font-size: 18px;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-text-container input {
  width: 200px;
  height: 25px;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 1px #d1d1d1;
  box-shadow: 0px 0px 5px 1px #d1d1d1;
  color: #4e4e4e;
  font-size: 16px;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-select {
  text-aligN: center;
  font-size: 18px;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-select select {
  width: 200px;
  height: 25px;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 1px #d1d1d1;
  box-shadow: 0px 0px 5px 1px #d1d1d1;
  color: #4e4e4e;
  font-size: 16px;
  color: #1C8AF5;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-select select .to-do {
  color: #1C8AF5;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-select select .done {
  color: #0A9C00;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-select select .important {
  color: #D23030;
}

main .top-new-talk .active .add-new-talk-main-container .add-new-talk-select select .notes {
  color: #1C8AF5;
}

main .top-new-talk .active .add-new-talk-main-container .date {
  text-aligN: center;
  font-size: 18px;
}

main .top-new-talk .active .add-new-talk-main-container .date input {
  width: 100px;
  height: 25px;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 1px #d1d1d1;
  box-shadow: 0px 0px 5px 1px #d1d1d1;
  color: #4e4e4e;
  font-size: 16px;
}

main .top-new-talk .active .add-new-talk-main-container .date input::-webkit-input-placeholder {
  font-size: 12px;
  text-align: center;
}

main .top-new-talk .active .add-new-talk-main-container .date input:-ms-input-placeholder {
  font-size: 12px;
  text-align: center;
}

main .top-new-talk .active .add-new-talk-main-container .date input::-ms-input-placeholder {
  font-size: 12px;
  text-align: center;
}

main .top-new-talk .active .add-new-talk-main-container .date input::placeholder {
  font-size: 12px;
  text-align: center;
}

main .top-new-talk .active .add-new-talk-field {
  text-align: center;
  margin: 0px 10px 10px 10px;
}

main .top-new-talk .active .add-new-talk-field textarea {
  min-height: 70px;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 1px #d1d1d1;
  box-shadow: 0px 0px 5px 1px #d1d1d1;
  width: 100%;
  border: none;
  resize: none;
}

main .top-new-talk .active .add-new-button-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .top-new-talk .active .add-new-button-container .mess {
  color: #D23030;
  margin-right: 10px;
  font-weight: 900;
}

main .top-new-talk .active .add-new-button-container .exit {
  width: 80px;
  border: none;
  font-size: 15px;
  border-radius: 6px;
  height: 28px;
  background-color: #1C8AF5;
  color: white;
  cursor: pointer;
  margin-right: 5px;
}

main .top-new-talk .active .add-new-button-container .add-new {
  width: 100px;
  border: none;
  font-size: 15px;
  border-radius: 6px;
  height: 28px;
  background-color: #1C8AF5;
  color: white;
  cursor: pointer;
}

.main-content-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content-all .main-content-entry .empty-entry-message {
  display: none;
}

.main-content-all .main-content-entry .empty-entry-message-active p {
  font-size: 23px;
  color: #dadada;
  margin: 10px;
}

.main-content-all .main-content-entry .entry {
  margin: 0px 10px 10px 15px;
  width: 500px;
  border: 1px solid #CBCBCB;
}

.main-content-all .main-content-entry .entry .entry-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content-all .main-content-entry .entry .entry-top h2 {
  border-left: 4px solid #1C8AF5;
  padding-left: 10px;
  margin-left: 10px;
}

.main-content-all .main-content-entry .entry .entry-top .entry-top-right {
  height: 40px;
  width: auto;
  margin: 2.5px 10px 2.5px 2.5px;
}

.main-content-all .main-content-entry .entry .entry-top .date {
  text-align: center;
}

.main-content-all .main-content-entry .entry .entry-top .category {
  font-size: 20px;
}

.main-content-all .main-content-entry .entry .entry-top .entry-top-right-buttons {
  width: 30px;
  height: 50px;
}

.main-content-all .main-content-entry .entry .entry-top .entry-top-right-buttons .remove-entry {
  width: 30px;
  border: none;
  background-color: #1C8AF5;
  height: 50%;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.main-content-all .main-content-entry .entry .entry-top .entry-top-right-buttons .done-entry {
  border: none;
  cursor: pointer;
  width: 30px;
  background-color: #0A9C00;
  font-size: 18px;
  color: white;
  height: 50%;
}

.main-content-all .main-content-entry .entry .entry-bottom {
  width: 100%;
  font-size: 15px;
}

.main-content-all .main-content-entry .entry .entry-bottom p {
  margin: 0px 10px 10px 10px;
}
/*# sourceMappingURL=style.css.map */