* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
}

header {
    min-width: 300px;
    nav {
        width: 300px;
        height: 100vh;
        border-right: 1px solid #CBCBCB;
        position: fixed;
        background-color: white;
        overflow: auto;
        nav::-webkit-scrollbar {
            background-color: red;
            color: red;
        }
        .date {
            position: fixed;
            width: 285px;
            padding: 10px 0px 10px 0px;
            background-color: white;
            border-bottom: 1px solid #CBCBCB;
            -webkit-box-shadow: 0px 2px 4px 0px #eeeeee;
            box-shadow: 0px 2px 4px 0px #eeeeee;
            border-right: 1px solid #CBCBCB;
            #time {
                font-size: 30px;
                text-align: center;
                color: #1C8AF5;
            }
            #day {
                color: #1C8AF5;
                font-size: 20px;
                text-align: center;
            }
        }
        .to-do-list-category {
            margin: 80px 20px 100px 20px;
            .notes-container-height {
                margin-bottom: 20px;
            }
            .to-do-main-title {
                padding: 10px 0px 10px 0px;
                width: 100%;
            }
            .main-title {
                display: flex;
                align-items: center;
                cursor: pointer;
                h2 {
                    padding-left: 10px;
                    font-size: 22px;
                }
                span {
                    padding-left: 10px;
                }
                .cyclicDelete {
                    padding-left: none;
                    color: #D23030;
                }
                .cyclicDelete {
                    background-color: rgb(241, 241, 241);
                    padding-left: 0;
                    padding: 9px;
                    border-radius: 5px;
                }

            }

            .main-title:hover {
                background-color: #fbfbfb;
            }
            .main-list {
                padding: 0px 0px 0px 30px;
                h3 {
                    color: #696969;
                    font-weight: 300;
                    padding: 1px 5px 1px 15px;
                    cursor: pointer;
                    font-size: 17px;
                }
                h4 {
                    color: #d1d1d1;
                    cursor: default;
                    margin-left: 20px;
                }
                .deletingCategory {
                    padding: 10px;
                    font-size: 13px;
                    color: #e6e6e6;
                    background-color: #2929299e;
                    background-color: rgba(22, 22, 22, 0.753);
                    border-radius: 5px;
                    .delete-container {
                        text-align: center;
                        .delete-confirm-button {
                            border: none;
                            font-size: 15px;
                            border-radius: 6px;
                            background-color: #1C8AF5;
                            color: white;
                            cursor: pointer;
                            padding: 2px 8px 2px 8px;
                            margin: 2px 3px 2px 3px;
                        }
                        .delete-cancel-button {
                            border: none;
                            font-size: 15px;
                            border-radius: 6px;
                            background-color: #1C8AF5;
                            color: white;
                            cursor: pointer;
                            padding: 2px 8px 2px 8px;
                            margin: 2px 3px 2px 3px;
                        }
                    }

                }

            }
            .all {
                .all-container {
                    h2 {
                        padding: 10px 0px 10px 0px;
                        margin-bottom: 10px;
                        text-align: center;
                        color: #1C8AF5;
                        cursor: pointer;
                    }
                    }
                    h2:hover {
                        background-color: #fbfbfb;
                    }
                    h3 {
                        color: rgb(214, 214, 214);
                        font-size: 16px;
                        font-weight: 300;
                        text-align: center;
                    }
                }
            }
                        // do zrobienia
            .to-do {
                .to-do-container {
                        span {
                            color: #1C8AF5;
                            padding-left: 10px;
                        }
                        h2 {
                            color: #1C8AF5;
                        }
                        h3:hover {
                            border-left: 5px solid #1C8AF5;
                        }
                    }
                }
            }
            // Zrobione
            .done {
                .done-container {
                    span {
                        color: #0A9C00;
                        padding-left: 10px;
                    }
                    h2 {
                        color: #0A9C00;
                    }
                    h3:hover {
                        border-left: 5px solid #0A9C00;
                    }
                }
            }
            // Ważne
            .important {
                .important-container {
                    span {
                        color: #D23030;
                        padding-left: 10px;
                    }
                    h2 {
                        color: #D23030;
                    }
                    h3:hover {
                        border-left: 5px solid #D23030;
                    }
                }
            }
            .notes {
                .notes-container {
                    span {
                        color: #1C8AF5;
                        padding-left: 10px;
                    }
                    h2 {
                        color: #1C8AF5;
                    }
                    h3:hover {
                        border-left: 5px solid #1C8AF5;
                    }
                }
            }
            // .deleted {
            //     .deleted-container {
            //         span {
            //             color: #D23030;
            //             padding-left: 10px;
            //         }
            //         h2 {
            //             color: #D23030;
            //             margin-left: 10px;
            //         }
            //         h3:hover {
            //             border-left: 5px solid #D23030;
            //         }
            //     }
            // }
            .deleted {
                .deleted-container {
                    .deleted-text {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        cursor: pointer;
                        .deleted-title {
                            padding: 10px 0px 10px 10px;
                            width: 100%;
                        }
                    }
                    .deleted-text:hover {
                        background-color: #fbfbfb;
                    }
                    .deleted-list {
                        padding: 0px 0px 0px 30px;
                        .deleted-list-h4 {
                            color: #d1d1d1;
                            cursor: default;
                            margin-left: 20px;
                            font-weight: 600;
                        }
                        .deleted-list-h3-see {
                            color: #696969;
                            font-weight: 300;
                            padding: 0px 5px 0px 5px;
                            cursor: pointer;
                            width: 162px;
                            font-size: 17px;

                        }
                    }

                    span {
                        color: #D23030;
                        padding-left: 10px;
                    }
                    h2 {
                        color: #D23030;
                    }
                    h3:hover {
                        border-left: 5px solid #D23030;
                    }
                }
            }
            .cyclic {
                .cyclic-list {
                    h3:hover {
                        border-left: 5px solid rgb(124, 124, 124);
                    }
                }
            }
            .creating-category {
                display: none;
            }
            .creating-category-active {
                width: 255px;
                position: fixed;
                bottom: 105px;
                margin: 0px 15px 0px 15px;
                -webkit-box-shadow: 0px 0px 5px 1px #d1d1d1;
                box-shadow: 0px 0px 5px 1px #d1d1d1;
                display: flex;
                flex-direction: column;
                padding-bottom: 5px;
                align-items: center;
                background-color: white;
                .category-text-h4 {
                    padding: 5px 0px 5px 0px;
                    font-weight: 300;
                }
                .category-title {
                    width: 80%;
                    height: 23px;
                    justify-content: center;
                    border: none;
                    font-weight: 900;
                    font-size: 17px;
                    border: 1px solid #D5D5D5;
                }
                .category-circle-container {
                    width: 300px;
                    display: flex;
                    justify-content: center;
                    max-width: 200px;
                    margin-bottom: 5px;
                    flex-wrap: wrap;
                    .category-circle {
                        height: 20px;
                        width: 20px;
                        margin: 2px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
                .error-category {
                    color: #D23030;
                    font-weight: 900;
                    font-size: 14px;
                    text-align: center;
                }
                .category-buttons-container {
                    margin-top: 5px;
                    height: 20px;
                    width: 100%;
                    justify-content: right;
                    text-align: right;
                    .category-exit {
                        background-color: #1C8AF5;
                        border-radius: 6px;
                        border: none;
                        color: white;
                        cursor: pointer;
                        padding: 5px 10px 5px 10px;
                    }
                    .category-add {
                        background-color: #1C8AF5;
                        border-radius: 6px;
                        border: none;
                        color: white;
                        cursor: pointer;
                        padding: 5px 10px 5px 10px;
                    }
                }
            }
            .add-button {
                display: flex;
                justify-content: center;
                width: 285px;
                padding: 10px 0px 10px 0px;
                background-color: white;
                position: fixed;
                bottom: 0;
                -webkit-box-shadow: -28px 22px 7px 26px #eeeeee;
                box-shadow: -28px 22px 7px 26px #eeeeee;
                border-top: 1px solid #CBCBCB;
                flex-direction: column-reverse;
                align-items: center;
                border-right: 1px solid #CBCBCB;
                .add {
                    height: 50px;
                    width: 50px;
                    background-color: #1C8AF5;
                    border: none;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 35px;
                    color: white;
                    cursor: pointer;
                    -webkit-box-shadow: 0px 6px 14px 1px rgba(209,209,209,1);
                    -moz-box-shadow: 0px 6px 14px 1px rgba(209,209,209,1);
                    box-shadow: 0px 6px 14px 1px rgba(209,209,209,1);
                }
            }
        }
    
    

main {
    width: 100%;
    .top-header {
        border-bottom: 1px solid #CBCBCB;
        h1 {
            font-size: 26px;
            color: #414141;
            padding: 15px 0px 15px 15px;
        }
    }
    .top-new-talk {
        .new-talk {
            span {
                font-size: 25px;
            }
            .new-talk-button {
                padding: 8px 8px 8px 8px;
                background-color: #1C8AF5;
                color: white;
                font-size: 18px;
                border: none;
                margin: 10px;
                border-radius: 6px;
                cursor: pointer;
                -webkit-box-shadow: 0px 6px 7px 1px rgba(209,209,209,1);
                -moz-box-shadow: 0px 6px 7px 1px rgba(209,209,209,1);
                box-shadow: 0px 6px 7px 1px rgba(209,209,209,1);
            }
        }
        .add-new-talk-container {
            display: none;
        }
        .active  {
            display: block;
            width: 300px;
            margin: 10px;
            -webkit-box-shadow: 0px 0px 5px 1px #dedede;
            -moz-box-shadow: 0px 0px 5px 1px #dedede;
            box-shadow: 0px 0px 5px 1px #dedede;
            border-radius: 6px;
            .add-new-talk-main-container{
                margin: 10px 10px 0px 10px;
                padding-top: 5px;
                h3 {
                    border-left: 4px solid rgb(28, 138, 245);
                    padding: 5px 0px 5px 5px;
                }
                .add-new-talk-text-container {
                    text-aligN: center;
                    font-size: 18px;
                    .entry-title {
                        width: 100%;
                        border: 1px solid #D5D5D5;
                        color: rgb(78, 78, 78);
                        font-size: 17px;
                        resize: none;
                        padding: 5px 0px 5px 0px;
                        margin: 5px 0px 5px 0px;
                        border-radius: 4px;
                    }
                    .entry-title::placeholder {padding-left: 9px; font-size: 17px; color: rgb(78, 78, 78);}
                }
                .add-new-talk-select {
                    text-aligN: center;
                    font-size: 18px;
                    select {
                        width: 100%;
                        height: 31px;
                        border: none;
                        border: 1px solid #D5D5D5;
                        color: rgb(78, 78, 78);
                        font-size: 16px;
                        color: #1C8AF5;
                        padding-left: 5px;
                        margin: 0px 0px 5px 0px;
                        border-radius: 4px;
                        .to-do {
                            color: #1C8AF5;
                        }
                        .done {
                            color: #0A9C00;
                        }
                        .important {
                            color: #D23030;
                        }
                        .notes {
                            color: #1C8AF5;
                        }

                    }

                }
                .date {
                    text-aligN: center;
                    font-size: 18px;
                    display: flex;
                    justify-content: space-between;
                    .entry-date {
                        width: 68%;
                        height: 31px;
                        border: none;
                        border: 1px solid #D5D5D5;
                        color: rgb(78, 78, 78);
                        font-size: 16px;
                        text-align: center;
                        border-radius: 4px;
                    }
                    input::placeholder {font-size: 15px; color: rgb(78, 78, 78);}
                    .entry-hour  {
                        width: 28%;
                        height: 31px;
                        border: none;
                        border: 1px solid #D5D5D5;
                        color: rgb(78, 78, 78);
                        font-size: 16px;
                        text-align: center;
                        border-radius: 4px;
                    }
                    
                }
            }
            .add-new-talk-field {
                text-align: center;
                margin: 0px 10px 0px 10px;
                .text-area {
                    min-height: 70px;
                    border: 1px solid #D5D5D5;
                    width: 100%;
                    resize: none;
                    padding: 5px 0px 5px 0px;
                    margin: 5px 0px 5px 0px;
                    color: #4e4e4e;
                    font-size: 17px;
                    border-radius: 4px;
                }
                .mess {
                    color: #D23030;
                    margin: 0px 0px 10px 0px;
                    font-weight: 900;
                }
                .text-area::placeholder {padding-left: 9px; font-size: 17px; color: rgb(78, 78, 78);}
            }
            .add-new-button-container {
                justify-content: flex-end;
                display: flex;
                align-items: center;
                .exit {
                    padding: 4px 9px 4px 9px;
                    border: none;
                    font-size: 15px;
                    border-radius: 6px;
                    background-color: #1C8AF5;
                    color: white;
                    cursor: pointer;
                    margin-right: 5px;
                }
                .add-new {
                    padding: 4px 9px 4px 9px;
                    border: none;
                    font-size: 15px;
                    border-radius: 6px;
                    background-color: #1C8AF5;
                    color: white;
                    cursor: pointer
                }
            }

        }
    }
}

.main-content-all {
    display: flex;
    .main-content-entry {
        .empty-entry-message {
            display: none;
        }
        .empty-entry-message-active {
            p {
                font-size: 23px;
                // font-weight: 600;
                color: rgb(218, 218, 218);
                margin: 10px;
            }
        }
        .entry {
            margin: 0px 10px 10px 15px;
            width: 500px;
            // border: 1px solid #CBCBCB;
            border: 1px solid rgb(255, 255, 255);
            -webkit-box-shadow: 0px 0px 5px 0px rgba(187, 187, 187, 0.75);
            -moz-box-shadow: 0px 0px 5px 0px rgba(187, 187, 187, 0.75);
            box-shadow: 0px 0px 5px 0px rgba(187, 187, 187, 0.75);
            background-color: white;
            .top-panel {
                width: 100%;
                border-bottom: 1px solid #CBCBCB;
                .top-panel-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px 0px 5px 0px;
                    h4 {
                        color: #1C8AF5;
                    }
                    #select-restore {
                        width: 200px;
                        height: 25px;
                        border: none;
                        color: #4e4e4e;
                        font-size: 16px;
                        color: #1C8AF5;
                        margin: 0px 20px 0px 20px;
                        border: 1px solid #CBCBCB;
                    }
                    .button-confirm {
                        padding: 4px 10px 4px 10px;
                        background-color: #1C8AF5;
                        color: white;
                        font-size: 14px;
                        border: none;
                        border-radius: 6px;
                        cursor: pointer;
                    }
                }
            }
            .entry-top {
                display: flex;
                width: 100%;
                align-items: center;
                height: 50px;
                justify-content: flex-end;
                h2 {
                    border-left: 4px solid #1C8AF5;
                    padding-left: 10px;
                    margin-left: 10px;
                    width: 100%;
                }
                .entry-top-right {
                    height: 40px;
                    width: auto;
                    margin: 2.5px 10px 2.5px 2.5px;
                }
                .date {
                    text-align: center;
                }

                .category {
                    font-size: 20px;
                }
                .entry-top-right-buttons {
                    width: 30px;
                    height: 50px;
                    .remove-entry {
                        width: 30px;
                        border: none;
                        background-color: #1C8AF5;
                        height: 50%;
                        font-size: 16px;
                        color: white;
                        cursor: pointer;
                    }
                    .done-entry {
                        border: none;
                        cursor: pointer;
                        width: 30px;
                        background-color: #0A9C00;
                        font-size: 18px;
                        color: white;
                        height: 50%;
                    }
                    .info-entry {
                        border: none;
                        cursor: pointer;
                        width: 30px;
                        font-size: 18px;
                        background-color: white;
                        color: #969696;
                        height: 50%;
                        span {
                            width: 100%;
                            height: 100%;  
                            padding-top: 4px;
                        }
                        .information {
                            display: none;
                        }
                        .information-active {
                            width: 150px;
                            height: auto;
                            position: relative;
                            right: 119px;
                            text-align: center;
                            font-size: 12px;
                            border-radius: 3px;
                            background-color: rgba(22, 22, 22, 0.753);
                        }
                    }


                }
            }
            .entry-bottom {
                width: 100%;
                font-size: 15px;
                p {
                margin: 0px 10px 10px 10px;
                }
            }
        }
    }
}

.ui-widget-header {
    background: #1C8AF5;
}


#overflow::-webkit-scrollbar {
	width: 12px;
    background-color: #F5F5F5;
}

#overflow::-webkit-scrollbar-thumb {
	border-radius: 10px;
    background-color: rgb(228, 228, 228);
}

.overflow-entry::-webkit-scrollbar {
    width: 12px;
}

.overflow-entry::-webkit-scrollbar-thumb {
	border-radius: 10px;
    background-color: rgb(155, 155, 155);
}